doctype html
html
  head
    title Cashfree - PG Response Details
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
  body
    h2(align='center' color='black') CITY GARAGE PRIVATE LIMITED
    .container
      #panel.panel
        #heading.panel-heading
        .panel-body
          <div class="container">
          <h2 style="text-align:center"></h2>
          <img id="imgs" class="center" style="width:40%;display: block;margin-left: auto;margin-right: auto;margin-bottom: 2rem;" src="" alt="logo"/>
          table.table.table-hover
            tbody#tablebody
              tr
                td Order ID
                td#orderId
              tr
                td Order Amount
                td#amount INR
              tr
                td Cashfree Order Id
                td#Cashfree_order_id
              tr
                td Payment Status 
                td#order_status(style="font-weight:700;")
              tr
                td Payment Note 
                td#note(style="font-weight:700;")
              script(type='text/javascript').
                var postData = JSON.parse('!{postData}');
                if(postData.signature==postData.computedsignature){
                document.getElementById("panel").className += " panel-success";
                
                document.getElementById("heading").style.textAlign = "center";
                }
                //- else{
                //- document.getElementById("panel").className += " panel-danger";
                //- document.getElementById("heading").innerHTML = "Signature Verification Failed";
                //- }

                if(postData['order_status']==="PAID")
                {
                  postData['note'] = "Payment Done Successfully"
                  document.getElementById("imgs").src = "https://raw.githubusercontent.com/AnilNITT/Images/master/bike/success.png";
                  document.getElementById("heading").innerHTML = "Payment Verification Successful";
                  document.getElementById("panel").style.border = "0.5rem solid green";
                }
                if(postData['order_status']==="ACTIVE")
                {
                  document.getElementById("imgs").src = "https://raw.githubusercontent.com/AnilNITT/Images/master/bike/fail.png";
                  postData['note'] = "Payment Not Completed"
                  document.getElementById("heading").innerHTML = "Payment Verification Failed";
                  document.getElementById("heading").style.backgroundColor = "#ffb8b8";
                  document.getElementById("heading").style.color = "black";
                  document.getElementById("panel").style.border = "0.5rem solid red";
                }

                for(var key in postData){
                document.getElementById(key).innerHTML = postData[key];
                }
          </div>
